
#img{
    float: left;
    height: 95vh;
    width: 50%;
    top: 100px;
    border-radius: 10px;
  }
  #derecha {
    width: 50%;
    height: 95vh;
    float: left;
    position: relative;
  }
  .titulo{
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  #cuadro {
    width: 70%; 
    height: 70%;
    background-color:#fdffa2; 
    position: absolute;
    top: 15%; 
    left: 20%;
    border-radius: 10px; 
  }
  
  .formulario{
  
    justify-content: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 300px;
    flex-direction: column;
    padding: 20px;
  }
  .Usuario{
    background-color: #ffffff  ;
    border: none;
    outline: none;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    color: black;
  }
  .Usuario::placeholder{
    color: rgb(0, 0, 0);
  }
  .contraseña::placeholder{
    color: rgb(0, 0, 0);
  }
  .contraseña{
    background-color: #ffffff  ;
    border: none;
    outline: none;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
  }
  .boton{
    background-color: #333;
    border: none;
    outline: none;
    height: 30px;
    color: #ffffff;
    border-color: red;
    text-align: center;
    border-radius: 10px;
    width: 50%;
  }